<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianqi.aitdwallet">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="MediaStore.Images.Media.INTERNAL_CONTENT_URI" />
    <uses-permission android:name="MediaStore.Images.Media.EXTERNAL_CONTENT_URI" />

    <!-- 极光推送 -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!--华为角标-->
    <uses-permission
        android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeTrans">
        <activity android:name=".ui.activity.setting.MessageDetailActivity"></activity>
        <activity android:name=".ui.activity.setting.MessageCenterActivity" />
        <activity android:name=".ui.activity.setting.InviteFriendActivity" />
        <activity android:name=".ui.activity.setting.VersionLogActivity" />
        <activity android:name=".ui.activity.setting.AboutUsActivity" />
        <activity android:name=".ui.activity.address.CreateNewAddressActivity" />
        <activity android:name=".ui.activity.address.ContactsAddressManageActivity" />
        <activity android:name=".ui.activity.wallet.eth.EthTransactionTestActivity" />
        <activity android:name=".ui.activity.wallet.property.SelectCoinToTransActivity" />
        <activity android:name=".ui.activity.setting.SafeCenterActivity" />
        <activity android:name=".ui.activity.wallet.btc.BtcTransTestActivity" />
        <activity android:name=".ui.activity.wallet.setting.CoinHiddenActivity" />
        <activity android:name=".ui.activity.setting.SystemSettingActivity" />
        <activity android:name=".ui.activity.wallet.setting.WalletHiddenActivity" />
        <activity android:name=".ui.activity.wallet.setting.WalletManageActivity" />
        <activity android:name=".ui.activity.wallet.record.TransactionDetailActivity" />
        <activity android:name=".ui.activity.wallet.setting.PasswordPromptActivity" />
        <activity android:name=".ui.activity.wallet.setting.ExportPrivateKeyActivity" />
        <activity android:name=".ui.activity.wallet.property.CoinAddressQrActivity" />
        <activity android:name=".ui.activity.wallet.setting.ChangeWalletNameActivity" />
        <activity android:name=".ui.activity.wallet.setting.WalletSettingActivity" />
        <activity
            android:name=".ui.activity.wallet.importwallet.ImportBtcCoinActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.activity.wallet.importwallet.ImportWalletActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.activity.wallet.initwallet.CreateWalletActivity" />
        <activity android:name=".ui.activity.wallet.TestBtcActivity" />
        <activity android:name=".ui.activity.wallet.initwallet.BackupMemoryWordActivity" />
        <activity android:name=".ui.activity.wallet.initwallet.SetSecurityPsdActivity" />
        <activity android:name=".ui.activity.wallet.initwallet.SelectWalletTypeActivity" />
        <activity android:name=".ui.activity.GuideWalletActivity" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.tool.ScanActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.wallet.btc.BitcoinTransactionNativeActivity" />
        <activity android:name=".ui.activity.wallet.usdt.UsdtTransactionNativeActivity" />
        <activity
            android:name=".ui.activity.wallet.importwallet.ImportUsdtCoinActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.activity.wallet.setting.VerifySecurityPsdActivity" />
        <activity android:name=".ui.activity.wallet.property.CoinListActivity" />
        <activity android:name=".ui.activity.wallet.initwallet.ImportWalletFrMnemonicActivity" />
        <activity android:name=".ui.activity.wallet.initwallet.VerifyMemoryWordActivity" />
        <activity android:name=".ui.activity.wallet.setting.WalletSettingFrImportActivity" />
        <activity android:name=".ui.activity.setting.CoinUnitSettingActivity" />
        <activity android:name=".ui.activity.wallet.btc.BitcoinTransactionActivity" />
        <activity android:name=".ui.activity.wallet.usdt.UsdtTransactionActivity" />
        <activity android:name=".ui.activity.GuidePageActivity" />
        <activity android:name=".ui.activity.wallet.record.TransactionRecordScrollActivity" />
        <activity android:name=".ui.activity.wallet.setting.PrivacyTermsWebActivity" />
        <activity android:name=".ui.activity.wallet.btc.BitcoinTransactionActivity002" />
        <activity android:name=".ui.activity.wallet.usdt.UsdtTransactionActivity002" />
        <activity android:name=".ui.activity.wallet.record.TransactionRecordActivity" />
        <activity android:name=".ui.activity.wallet.setting.ExportKeystoreActivity" />
        <activity
            android:name=".ui.activity.wallet.importwallet.ImportEthCoinActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.activity.wallet.eth.EthTransactionNativeActivity" />
        <activity android:name=".ui.activity.wallet.eth.EthTransactionActivity" />
        <activity android:name=".ui.activity.setting.LanguageSettingActivity" />
        <activity
            android:name=".ui.activity.wallet.importwallet.ImportUsdtErc20CoinActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.activity.wallet.usdt.UsdtErc20TransactionActivity" />
        <activity android:name=".ui.activity.wallet.property.ImportCoinListActivity" />

        <service android:name=".service.DataManageService" />



        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="${applicationId}.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:process=":pushcore"
            android:exported="false"
            />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，或把 enabled 设置成 false ；App 不会被其他 App 拉起，但会拉起其他的 App。 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="${applicationId}" />
            </intent-filter>

        </service>

        <!-- 可选，如果使用静态Activity方式拉起，该组件必须声明 -->
        <activity android:name="cn.jpush.android.service.DActivity"
            android:enabled="true"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:taskAffinity="jpush.custom">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DActivity"/>
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="${applicationId}.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"
            />

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- 3.5.0新增，用于定时展示功能 -->
        <receiver android:name="cn.jpush.android.service.SchedulerReceiver" android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".pusher.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>



        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <!--since 3.3.0 接收JPush相关事件-->
        <receiver android:name=".pusher.PushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}"></category>
            </intent-filter>
        </receiver>

        <!--since 3.3.0 Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="false"
            android:taskAffinity="jpush.custom"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- since 3.3.0 Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <!--User defined.  For test only 继承自cn.jpush.android.service.JCommonService-->
        <service android:name=".pusher.PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!-- since 3.5.6 新增华硕通道  -->
        <receiver android:name="cn.jpush.android.asus.AsusPushMessageReceiver"></receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="${JPUSH_CHANNEL}"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="${JPUSH_APPKEY}" /> <!--  </>值来自开发者平台取得的AppKey-->


    </application>

</manifest>